.Menu{
  margin-bottom: 2rem;
  text-align: right;
  font-size: 5vw;

  @include mq(m){
    grid-area: menu;
    font-size: 1.5rem;
  }
  ul{
    @include mq(m){
      display: flex;
      justify-content: space-evenly;
    }
    @include mq(l){
      display: initial;
      
    }
  }

  li{list-style: none;}
  a{
    padding-right: .5rem;
    display: block;
    
    &:hover{
      color: var(--main-color);
      background-color: var(--alternate-color);
    }
  }
}